{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	{% include "tools/userNav.html.twig" %}
	<main class="container">
		<section class="row">

			<h1>Profil de </h1>
		</section>
	</main>
	{% include "tools/footer.html.twig" %}

{% endblock %}
