{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du MDP
{% endblock %}

{% block body %}
	{% include "tools/userNav.html.twig" %}

	<main class="container">
		<section class="row">
			<h1 class="text-center mt-2">Réinitialisation du MDP</h1>
			<div class="col-6 mx-auto mt-2">

				{{form_start(requestPassForm)}}
                    {{form_row(requestPassForm.email)}}
                    <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
				{{form_end(requestPassForm)}}
                
			</div>
		</section>
	</main>
	{% include "tools/footer.html.twig" %}


{% endblock %}
