<fieldset class="col-6 mx-auto">
	<legend>Adresse m@il</legend>
	{{form_start(formEmail) }}
        {{form_row(formEmail.email)}}
        <button class="bg-success text-white" type="submit">Changer</button>
	{{form_end(formEmail)}}
</fieldset>