<fieldset class="col-6 mx-auto">
	<legend>Nom</legend>
	{{form_start(formNom, {'attr': {'id': 'editNomForm'}}) }}
        {{form_row(formNom.nom)}}
        <button class="bg-success text-white" type="submit">Changer</button>
	{{form_end(formNom)}}
</fieldset>