{% extends 'base.html.twig' %}

{% block title %}Admin - Suppression de Produits
{% endblock %}

{% block body %}
            {% include "tools/dashNav.html.twig" %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2">Suppression de Produit:</h1>
            </main>
        </div>
    </div>
{% endblock %}
