{% block stylesheets %}
	<link href="{{asset('css/dashboard.css')}}" rel="stylesheet">
{% endblock %}

<header class="navbar sticky-top bg-danger flex-md-nowrap p-0 shadow" data-bs-theme="dark">
	<a class="bg-dark navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="/admin/MonDashboard">MySneakersBox</a>

	<ul class="navbar-nav flex-row d-md-none">
		<li class="nav-item text-nowrap">
			<button class="nav-link px-3 bg-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<div class="text-white">MsB</div>
			</button>
		</li>
	</ul>

	<div id="navbarSearch" class="navbar-search w-100 collapse">
		<input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
	</div>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary h-100">
			<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="sidebarMenuLabel">MySneakersBox</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
				</div>
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Gestion des Produits/ventes</span>
					</h6>
					<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="/admin/MonDashboard">
									Dashboard
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-flex align-items-center gap-2" href="/admin/categorie">
									Gestion des catégories
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-flex align-items-center gap-2" href="/admin/produits">
									Gestion des produits
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link d-flex align-items-center gap-2" href="/admin/commandes">
									Voir les commandes
								</a>
							</li>
						</ul>
					<hr class="my-3">

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Gestion des Admins</span>
					</h6>
					<ul class="nav flex-column mb-auto">
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/admin/utilisateurs/adminListe">
								Liste des Admins
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/admin/utilisateurs/add-admin">
								Ajouter un Admin
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/admin/utilisateurs">
								Gestions des utilisateurs
							</a>
						</li>
					</ul>

					<hr class="my-3">

					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Trafic</span>
					</h6>
					<ul class="nav flex-column mb-auto">
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/admin/frequentation">
								Détails du trafic
							</a>
						</li>
					</ul>

					<hr class="my-3">
					<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
						<span>Accueil/Deco</span>
					</h6>					
					<ul class="nav flex-column mb-auto">
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/">
								Retour à l'accueil
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-flex align-items-center gap-2" href="/deconnexion">
								Se Déconnecter
							</a>
						</li>
						{# <li class="nav-item">
							<div class="form-check form-switch align-items-center">
								<input class="form-check-input" type="checkbox" role="switch" id="dark-mode-toggle" checked>
								<label class="form-check-label" for="flexSwitchCheckChecked">DM</label>
							</div>		
						</li> #}
					</ul>
				</div>
			</div>
		</div>

		
	
