{% block stylesheets %}
	<link href="{{asset('css/footer.css')}}" rel="stylesheet">
{% endblock %}
 
<div id="footer" class="bg-danger mt-5">
	<div class="row">
		<div class="col-lg-6 col-sm-4">
			<ul>
				<li>Qui nous sommes</li>
				<li>Réglement</li>
				<li>Notre Politique</li>
			</ul>
		</div>
		<div class="col-lg-6 col-sm-4">
			<ul>
				<li>Nous contacter</li>
				<li>Notre équipe</li>
				<li>Nos transporteurs</li>
			</ul>
		</div>
	</div>
</div>
