{% block stylesheets %}
	<link href="{{asset('css/userNav.css')}}" rel="stylesheet">
{% endblock %}


<ul class="nav justify-content-end bg-danger">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="/">Accueil</a>
	</li>
	{% if app.user %}
		<li class="nav-item">
			<a class="nav-link" href="#">Mon Compte</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="#">Mon panier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/deconnexion">
				Me déconnecter
			</a>
		</li>

	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="/connexion">
				Me connecter
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/inscription">
				M'inscrire
			</a>
		</li>
	{% endif %}
</ul>
