{% block stylesheets %}
	<link href="{{asset('css/userNav.css')}}" rel="stylesheet">
{% endblock %}


<ul class="nav justify-content-end bg-danger">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="/">Accueil</a>
	</li>
    
	<li class="nav-item">
		<a class="nav-link" href="#">Mes Commandes</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="#">Mon panier</a>
	</li>
	
	<li class="nav-item">
		<a class="nav-link" href="/auth">
			Se connecter/S'inscrire
		</a>
	</li>
</ul>
