{% block stylesheets %}
	<link href="{{asset('css/userNav.css')}}" rel="stylesheet">
{% endblock %}



{# Ancien Menu 
<ul class="nav justify-content-end bg-danger">
	<li class="nav-item">
		<a class="nav-link text-white active" aria-current="page" href="/">Accueil</a>
	</li>
	{% if app.user %}

		{% if is_granted('ROLE_PRODUCT_ADMIN') %}
			<li class="nav-item">
				<a class="nav-link text-white" href="/admin/MonDashboard">Administration</a>
			</li>
		{% endif %}
		
		<li class="nav-item">
			<a class="nav-link text-white" href="/profil">Mon Compte</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-white" href="/cart">Mon panier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="/deconnexion">
				Me déconnecter
			</a>
		</li>

	{% else %}
		<li class="nav-item">
			<a class="nav-link text-white" href="/connexion">
				Me connecter
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="/inscription">
				M'inscrire
			</a>
		</li>
	{% endif %}
</ul>
{% if app.user  and app.user.isVerified == false %}
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
		<div class="alert-message">
			<strong>Votre compte n'est pas activé</strong>, renvoyer le <a href="{{ path('resend_verif')}}">lien d'activation</a>
		</div>
	</div>
{% endif %} 
#}


<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
	<button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
			id="bd-theme"
			type="button"
			aria-expanded="false"
			data-bs-toggle="dropdown"
			aria-label="Toggle theme (auto)">
	<svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
	<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
	<li>
		<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
		<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
		Light
		<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
		</button>
	</li>
	<li>
		<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
		<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
		Dark
		<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
		</button>
	</li>
	<li>
		<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
		<svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
		Auto
		<svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
		</button>
	</li>
	</ul>
</div>

    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">MySneakersBox</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav me-auto mb-2 mb-md-0">
			{% if app.user %}

				{% if is_granted('ROLE_PRODUCT_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link text-white" href="/admin/MonDashboard">Admin</a>
					</li>
				{% endif %}
			
				<li class="nav-item">
					<a class="nav-link text-white" href="/profil">Mon Compte</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="/cart">Mon panier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/deconnexion">
						Me déconnecter
					</a>
				</li>

			{% else %}
				<li class="nav-item">
					<a class="nav-link text-white" href="/connexion">
						Me connecter
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="/inscription">
						M'inscrire
					</a>
				</li>
		{% endif %}
				{# <li class="nav-item">
					<div class="form-check form-switch text-white">
						<input class="form-check-input" type="checkbox" role="switch" id="dark-mode-toggle" checked>
						<label class="form-check-label" for="flexSwitchCheckChecked">Dark-Mode</label>
					</div>		
				</li> #}
		</ul>
		<form id="searchForm" action="{{ path('search_product') }}" class="d-flex" role="search" method="get">
			<input class="form-control me-2" name="query" id="searchQuery" type="search" placeholder="Recherche" aria-label="Search">
			<button class="btn btn-outline-light" type="submit">Rechercher</button>
		</form>
		</div>
	</div>
</nav>

{% include "tools/messageFlash.html.twig" %}

{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const form = document.querySelector('form');
			form.addEventListener('keypress', function(event) {
				if (event.key === 'Enter') {
					form.submit();
				}
			});
		});
	</script>

	<script>
		document.getElementById('searchForm').addEventListener('submit', function(event) {
			var query = document.getElementById('searchQuery').value.trim();
			if (query === '') {
				event.preventDefault(); // Empêche la soumission du formulaire
				window.location.href = "{{ path('search_form') }}";
			}
		});
	</script>
{% endblock %}
