<ul class="nav justify-content-end">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="#">Active</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Link</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" aria-disabled="true">Disabled</a>
	</li>
		<div class="btn-group me-2">
			<button type="button" class="btn btn-sm btn-outline-light text-white">Se connecter</button>
			<button type="button" class="btn btn-sm btn-outline-light text-white">S'inscrire</button>
		</div>
</ul>
