{% block stylesheets %}
	<link href="{{asset('css/userNav.css')}}" rel="stylesheet">
{% endblock %}


<ul class="nav justify-content-end bg-danger">
	<li class="nav-item">
		<a class="nav-link text-white active" aria-current="page" href="/">Accueil</a>
	</li>
	{% if app.user %}

		{% if is_granted('ROLE_PRODUCT_ADMIN') %}
			<li class="nav-item">
				<a class="nav-link text-white" href="/admin/MonDashboard">Administration</a>
			</li>
		{% endif %}
		
		<li class="nav-item">
			<a class="nav-link text-white" href="/profil/{id}">Mon Compte</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-white" href="/cart">Mon panier</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="/deconnexion">
				Me déconnecter
			</a>
		</li>

	{% else %}
		<li class="nav-item">
			<a class="nav-link text-white" href="/connexion">
				Me connecter
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="/inscription">
				M'inscrire
			</a>
		</li>
	{% endif %}
</ul>
{% if app.user  and app.user.isVerified == false %}
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
		<div class="alert-message">
			<strong>Votre compte n'est pas activé</strong>, renvoyer le <a href="{{ path('resend_verif')}}">lien d'activation</a>
		</div>
	</div>
{% endif %}

{% include "tools/messageFlash.html.twig" %}
