<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer/">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://kit.fontawesome.com/48410a61b9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
	</head>
	<body>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
			}

			main {
				min-height: 100%;
				position: relative;
				/* Hauteur du pied de page */
			}

			#back-to-top {
				display: none; /* Masquer le bouton par défaut */
				position: fixed; /* Positionner le bouton en bas à droite de la page */
				bottom: 20px;
				right: 30px;
				z-index: 99; /* Assurer que le bouton soit au-dessus des autres éléments */
				border: none; /* Enlever les bordures */
				outline: none; /* Enlever les contours */
				background-color: #555; /* Couleur de fond */
				color: white; /* Couleur du texte */
				cursor: pointer; /* Changer le curseur en pointeur */
				padding: 15px; /* Ajouter du padding */
				border-radius: 10px; /* Arrondir les coins */
				font-size: 18px; /* Taille du texte */
			}

			#back-to-top:hover {
				background-color: #333; /* Couleur de fond au survol */
			}

			input[type="email"]:user-valid { /* Style pour tous les <input> de type "email" */ 
			background-color: #98FB98; 
			}

			input[type="email"]:user-invalid { /* Style pour tous les <input> de type "email" */ 
			background-color: #FFE4E1; 
			}

		</style>
		{% block body %}
			
		{% endblock %}
		<button id="back-to-top" title="Retour en haut">↑</button>

		{% block javascripts %}
			<script> 
				// Quand l'utilisateur fait défiler 20px vers le bas à partir du sommet du document, affiche le bouton 
				window.onscroll = function() {scrollFunction()}; 
				
				function scrollFunction() { 
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("back-to-top").style.display = "block"; 
					} else { 
						document.getElementById("back-to-top").style.display = "none"; 
						} 
					} // Quand l'utilisateur clique sur le bouton, fait défiler vers le haut du document 
					document.getElementById("back-to-top").onclick = function() { 
						document.body.scrollTop = 0; 
						document.documentElement.scrollTop = 0; 
					}; 
			</script>
		{% endblock %}

	</body>
</html>
