<h1>Réinitialisation de votre Mot de passe</h1><br><br>

<p>Bonjour {{user.prenom}} {{user.nom}},<br>

Besoin de réinitialiser votre mot de passe?<br><br>


Cliquez sur le lien ci-dessous.<br><br>
<a href="{{url|raw}}">{{url|raw}}</a><br><br>

Si vous n'avez pas oublié votre mot de passe, vous pouvez ignorer cet email.

Cordialement,<br>
L’équipe MySneakersBox</p>